<!DOCTYPE html>
<html lang="en">
<head>
	
    <meta charset="utf-8" />
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
	

	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/hotel.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/hotel-responsive.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/slider/default.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/socialcount-with-icons.css" type="text/css" media="screen" />	

	<link rel="stylesheet" href="{{ STATIC_URL }}Gallery-master/css/blueimp-gallery.min.css">
	
	
	<style>
		div.ui-datepicker{
			font-size:11px;
		}
	</style>
		
    <!--[if lt IE 9]>
		<link rel="stylesheet" href="css/bootstrap_ie7.css" type="text/css">
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
       #map-canvas {
        height: 300px;
        width: 600px;
        margin: 0px;
        padding: 0px
      }
    </style>   

</head>	

<body>
	<!-- <div id="map-canvas"></div>	 -->
	<div class="container-fluid"> <!--(S)here es the main container froma pieces of web -->
		<!-- start header -->
		<div class="row">
			<div class="span4 logo">
				<a href="{% url 'toShow:index'  %}">
				<div class="row">
					<div class="span3 logo">
						<h1>Hospedaje<span>Rafael</span></h1>
						<!-- <p>&#9733;</p> -->
						<p><img src="{{ STATIC_URL }}css/images/signRafael.png" alt="" width="30" heigh="30" /></p>
					</div>
				</div>
				</a>
			</div>		
			<div class="span8  main_menu">
				<div class="navbar">
					<div class="container">
					 	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>

						<div class="nav-collapse span12" >
							<ul class="nav nav-pills"> <!-- this menu works woth petiocion in django -> exactly send tagMenu-->
								{% if menu == "index" %}<li class="active">
								{% else %} <li class=""> {% endif %} <a href="/">Inicio</a></li>

								{% if menu == "services" %}<li class="active">
								{% else %} <li class=""> {% endif %} <a href="/servicios">Servicios</a></li>

								{% if menu == "rooms" %}<li class="active">
								{% else %} <li class=""> {% endif %} <a href="/habitaciones">Habitaciones</a></li>

								{% if menu == "gallery" %}<li class="active">
								{% else %} <li class=""> {% endif %} <a href="/galeria">Galería</a></li>

								{% if menu == "tourism" %}<li class="active">
								{% else %} <li class=""> {% endif %} <a href="/turismo">Turismo</a></li>

								{% if menu == "contact" %}<li class="active">
								{% else %} <li class=""> {% endif %} <a href="/contactenos">Contactenos</a></li>
								
							</ul>
						</div><!-- /.nav-collapse -->
					</div>
				</div><!-- /navbar -->
			</div>
		</div>
		
		<div class="row offset10" >
			<ul data-facebook-action="recommend" data-url="#" class="socialcount socialcount-small recommend grade-a">
				<li class="facebook"><a target="_blank" title="Nuestro Facebook" href="https://www.facebook.com/hotelrafaelcamana"><span class="social-icon icon-facebook"></span><span class="count"></span></a></li>
				<li class="twitter"><a target="_blank" title="Nuestro Twitter" href="https://twitter.com/HospedajeRafael"><span class="social-icon icon-twitter"></span><span class="count"></span></a></li>
				<li class="googleplus"><a target="_blank" title="Nuestro Google Mas" href="https://plus.google.com/u/0/communities/100694529006737757231"><span class="social-icon icon-googleplus"></span><span class="count"></span></a></li>
			</ul>
		</div>
		<!-- end header -->
		
		{% block titleMenu %} {% endblock %}
		{% block slider %} {% endblock %}
		{% block places %} {% endblock %}
		{% block kindOfRooms %} {% endblock %}
		{% block photosGallery %} {% endblock %}
		{% block touristPlaces %} {% endblock %}
		{% block mapAndText %} {% endblock %}

		{% block structureFirst %} {% endblock %}

		{% block goodReferences %} {% endblock %}

	</div>	
	<!--(S)here es the main container froma pieces of web -->

	<footer>
		<div class="container">
		<div class="row footer_section_pre">

		<div class="span4">
			<h4>Hospedaje Rafael<span class="line"></span></h4>

			<p><span>Rafael I - </span>Avenida Quilca 255, Camaná, Arequipa</p>
			<p><span>Rafael II - </span>Avenida Quilca 330, Camaná, Arequipa</p>
			<p>Tel: +51-54-571000 <br />  <br />Email: hostalrafael@hostalrafael.com  </p>			
			
			<ul data-facebook-action="recommend" data-url="#" class="socialcount socialcount-small recommend grade-a">
				<li class="facebook"><a target="_blank" title="Nuestro Facebook" href="https://www.facebook.com/hotelrafaelcamana"><span class="social-icon icon-facebook"></span><span class="count"></span></a></li>
				<li class="twitter"><a target="_blank" title="Nuestro Twitter" href="https://twitter.com/HospedajeRafael"><span class="social-icon icon-twitter"></span><span class="count"></span></a></li>
				<li class="googleplus"><a target="_blank" title="Nuestro Google Mas" href="https://plus.google.com/u/0/communities/100694529006737757231"><span class="social-icon icon-googleplus"></span><span class="count"></span></a></li>
			</ul>
		
			<br />
			<p class="copy">All content &copy; 2013 <a href="http://www.joed.tk/">JoedSoft</a></p>

		</div>
		<div class="span4">
			<h4>Ofertas Especiales<span class="line"></span></h4>
			<p><b>GRATIS</b> Internet, <b>GRATIS</b> Cochera
			<p>Permancece 5 noches y la sexta es <b>GRATIS</b>!</p>
			<p>Ahorra el <b>20%</b>, somos la mejor opción.</p>
		</div>
		<div class="span4">
			<h4>Tarjetas<span class="line"></span></h4>
			    <ul class="thumbnails">
					<li class="span2">
						<div class="thumbnail">
							<img src="{{ STATIC_URL }}css/images/CreditCards/visa.jpg" alt="" />
						</div>
					</li>				
					<li class="span2">
						<div class="thumbnail">
							<img src="{{ STATIC_URL }}css/images/CreditCards/masterCard.jpg" alt="" />
						</div>
					</li>				
					<li class="span2">
						<div class="thumbnail">
							<img src="{{ STATIC_URL }}css/images/CreditCards/americanExpress.jpg" alt="" />
						</div>
					</li>										
					<li class="span2">
						<div class="thumbnail">
							<img src="{{ STATIC_URL }}css/images/CreditCards/dinersClub.jpg" alt="" />
						</div>
					</li>
					

				</ul>
		</div>
		</div>
		
		</div>
	</footer>

	<!-- // <script src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/socialcount.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.quicksand.js" type="text/javascript"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}js/global.js"></script>
	
	<script src="{{ STATIC_URL }}Gallery-master/js/blueimp-gallery.min.js"></script>
	<script>
	document.getElementById('links').onclick = function (event) {
	    event = event || window.event;
	    var target = event.target || event.srcElement,
	        link = target.src ? target.parentNode : target,
	        options = {index: link, event: event},
	        links = this.getElementsByTagName('a');
	    blueimp.Gallery(links, options);
	};
	</script>

</body>
</html>	