{% extends "base.html" %}
{% block title %}Hostal Rafael - {{ myPlace }} {% endblock %}

{% block titleMenu %}
	<div class="span12">	
		<br /><br /><h1>Galería de Fotos</h1><br />
	</div>	
	
	<div class="span12">
		<div class="row">
			<div class="span7 offset3">
				<ul class="nav nav-pills gallery-pills" id="gallery_links">
					<li><a href="#all" data-id="all">Todo</a></li>					
					<li><a href="#rooms" data-id="rooms">Habitaciones</a></li>
					<li><a href="#hotelOne" data-id="hotelOne">Rafael 1</a></li>
					<li><a href="#hotelTwo" data-id="hotelTwo">Rafael 2</a></li>
					<li><a href="#attractions" data-id="attractions">Atracciones</a></li>
				</ul>	
			</div>
		</div>
	</div>

	<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
	<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
	    <div class="slides"></div>
	    <h3 class="title"></h3>
	    <a class="prev">‹</a>
	    <a class="next">›</a>
	    <a class="close">×</a>
	    <a class="play-pause"></a>
	    <ol class="indicator"></ol>
	</div>	

 {% endblock %}	

 {% block photosGallery %}
	<div class="span12" id="links">	
		<ul class="thumbnails" id="gallery">
			{% for parts in dataImages %}
			<li class="span4 {{ parts.classs }}" data-id="{{ parts.dataId }}" data-type="{{ parts.dataType }}">
				<a href="{{ STATIC_URL }}css/images/gallery/{{ parts.src }}" class="thumbnail"  data-gallery >
					<img src="{{ STATIC_URL }}css/images/gallery/thumbnails/{{ parts.src }}" alt="{{ parts.alt}}" />
				</a>
			</li>
			{% endfor %}									
		</ul>
	</div>
 {% endblock %}	

