{% extends "base.html" %}
{% block title %}Hostal Rafael - {{ myPlace }} {% endblock %}

{% block slider %}
	<div class="row-fluid slideshow-row">
			
		<div class="span12 slideshow">
			<div class="slider-wrapper theme-default">
				<div class="ribbon"></div>
				<div id="nivoslider-125" class="nivoSlider">									
					<!-- <img src="{{ STATIC_URL }}css/images/portadaEdited.png" alt="" /> -->
					<img src="{{ STATIC_URL }}css/images/portadaEdited2.png" alt="" />
					<!-- <img src="{{ STATIC_URL }}css/images/portadaEdited3.png" alt="" /> -->
					

					<!-- <img src="{{ STATIC_URL }}css/images/portadaRafelEdited2.png" alt="" /> -->
					<img src="{{ STATIC_URL }}css/images/portadaRafelEdited2.2.png" alt="" />
					<!-- <img src="{{ STATIC_URL }}css/images/portadaEdited-R1.png" alt="" /> -->
					
					<img src="{{ STATIC_URL }}css/images/playasCamana2edited.png" alt="" />
					<img src="{{ STATIC_URL }}css/images/RioMarOcoñaEdited1.png" alt="" />
				</div>
			</div>
			<!-- <div id="nivoslider-125-caption-0" class="nivo-html-caption">You can add captions too&#8230;</div> -->
		</div>
			
	</div>
{% endblock %}

{% block structureFirst %}
	
	<div class="row-fluid home">
		<div class="span12">
			<h1>Bienvenido a <span>Camaná</span><br>
			<small><span>Hospedaje Rafael</span> lo recibirá con lo mejor de la ciudad</small></h1>
		</div>
	</div>	
	<hr />
	<div class="row-fluid">
		
		<div class="span3">
			<h3><span>H</span>abitaciones</h3>
			<a href="{% url 'toShow:rooms' %}"><img src="{{ STATIC_URL }}css/images/rooms.jpg" alt="" /></a>
			<p>Míra nuestros tipos de habitaciones</p>
		</div>		
		<div class="span3">
			<h3><span>S</span>ervicios</h3>
			<a href="{% url 'toShow:services' %}"><img src="{{ STATIC_URL }}css/images/services.jpg" alt="" /></a>
			<p>Contamos con cochera, WiFi, 
				TV-cable, y mucho mas</p>
		</div>		
		<div class="span3">
			<h3><span>T</span>urismo</h3>
			<a href="{% url 'toShow:tourism' %}"><img src="{{ STATIC_URL }}css/images/tourism.jpg" alt="" /></a>
			<p>Dále una mirada a el atractivo turistico - <b>Camaná</b></p>
		</div>		
		<div class="span3">
			<h3><span>U</span>bicación</h3>
			<a href="{% url 'toShow:contact' %}"><img src="{{ STATIC_URL }}css/images/location.jpg" alt="" /></a>
			<p>Estamos ubicados en un lugar accesible, centro de la ciudad.</p>
		</div>		

	</div>	
{% endblock %}

{% block goodReferences %} 
	<div class="row">
		<div class="span12 what_people_say">
			<div id="quotes">
				<blockquote class="textItem" style="display: none;">
					<p>Este es el mejor hotel donde aya estado.</p>
					<small>Hermanos Villacorta<cite title="Source Title"> - Orquesta</cite></small>
				</blockquote>			
				
				<blockquote class="textItem" style="display: none;">
					<p>El trato es increíble.</p>
					<small>Angelo Gonzales <cite title="Source Title"> - Cliente</cite></small>
				</blockquote>			
				
				<blockquote class="textItem" style="display: none;">
					<p>Cumplío todas mis espectativas</p>
					<small>Agua Bella<cite title="Source Title"> - Agrupación</cite></small>
				</blockquote>
			</div>
		</div>	
	</div>
{% endblock %}