{% extends "base.html" %}
{% block title %}Hostal Rafael - {{ myPlace }} {% endblock %}

{% block kindOfRooms %}
	<div class="span12">	

		<br /><br />
		<h1>Habitaciones y características</h1>
		
		<div class="row-fluid">
			
			<div class="span4">
				<h3>habitación<span>simple</span></h3>
				<a href=""><img src="{{ STATIC_URL }}css/images/rooms/single_room.jpg" alt="" /></a>
				<ul class="thumbnails hotel-options no_margin_left">
					<li class="no_margin_left"><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Tv-black.png" alt="" width="24" /></a>
					</li>
					<li><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Shower.png" alt="" width="24" /></a>
					</li>
				</ul>
				<p> </p>
				
				<!-- <div class="row center">
					<a class="btn btn-primary btn-large check-availability" href="">Check availability</a>
				</div> -->
				
			</div>		
			
			<div class="span4">
				<h3>habitación<span>doble</span></h3>
				<a href=""><img src="{{ STATIC_URL }}css/images/rooms/double_room.jpg" alt="" /></a>
				<ul class="thumbnails hotel-options no_margin_left">
					<li class="no_margin_left"><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Wireless.png" alt="" width="24" height="24" /></a>
					</li>
					<li><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Tv-black.png" alt="" width="24" /></a>
					</li>
					<li><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Shower.png" alt="" width="24" /></a>
					</li>
				</ul>
				<p>  </p>
				<!-- <div class="row center">
					<a class="btn btn-primary btn-large check-availability" href="">Check availability</a>
				</div> -->
			</div>	
			
			<div class="span4">
				<h3>habitación<span>Triple</span></h3>
				<a href=""><img src="{{ STATIC_URL }}css/images/rooms/triple_room.jpg" alt="" /></a>
				<ul class="thumbnails hotel-options no_margin_left">
					<li class="no_margin_left"><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Wireless.png" alt="" width="24" height="24" /></a>
					</li>
					<li><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Tv-black.png" alt="" width="24" /></a>
					</li>
					<li><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Shower.png" alt="" width="24" /></a>
					</li>
				</ul>
				<p></p>
				<!-- <div class="row center">
					<a class="btn btn-primary btn-large check-availability" href="">Check availability</a>
				</div> -->
			</div>				
		
		</div>				
		<hr>
		<div class="row-fluid">
			
			<div class="span4">
				<h3>habitación<span>cuadruple</span></h3>
				<a href=""><img src="{{ STATIC_URL }}css/images/rooms/quadruple_room.jpg" alt="" /></a>
				<ul class="thumbnails hotel-options no_margin_left">
					<li class="no_margin_left"><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Wireless.png" alt="" width="24" height="24" /></a>
					</li>
					<li><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Tv-black.png" alt="" width="24" /></a>
					</li>
					<li><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Shower.png" alt="" width="24" /></a>
					</li>
				</ul>
				<p> </p>
				
				<!-- <div class="row center">
					<a class="btn btn-primary btn-large check-availability" href="">Check availability</a>
				</div> -->
				
			</div>		
			
			<div class="span4">
				<h3>habitación<span>matrimonial</span></h3>
				<a href=""><img src="{{ STATIC_URL }}css/images/rooms/matrimonial_room.jpg" alt="" /></a>
				<ul class="thumbnails hotel-options no_margin_left">
					<li class="no_margin_left"><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Wireless.png" alt="" width="24" height="24" /></a>
					</li>
					<li><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Tv-black.png" alt="" width="24" /></a>
					</li>
					<li><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Shower.png" alt="" width="24" /></a>
					</li>
				</ul>
				<p>  </p>
				<!-- <div class="row center">
					<a class="btn btn-primary btn-large check-availability" href="">Check availability</a>
				</div> -->
			</div>	
			
			<div class="span4">
				<h3>sala<span>compartir</span></h3>
				<a href=""><img src="{{ STATIC_URL }}css/images/rooms/share_room.jpg" alt="" /></a>
				<ul class="thumbnails hotel-options no_margin_left">
					<li class="no_margin_left"><a class="btn btn-large btn-info" href="">
						<img src="{{ STATIC_URL }}css/images/icons/Wireless.png" alt="" width="24" height="24" /></a>
					</li>					
				</ul>
				<p> </p>
				<!-- <div class="row center">
					<a class="btn btn-primary btn-large check-availability" href="">Check availability</a>
				</div> -->
			</div>				
		
		</div>		
			
	</div>
{% endblock %}

{% block goodReferences %} 
	<div class="row">
		<div class="span12 what_people_say">
			<div id="quotes">
				<blockquote class="textItem" style="display: none;">
					<p>Este es el mejor hotel donde aya estado.</p>
					<small>Hermanos Villacorta<cite title="Source Title"> - Orquesta</cite></small>
				</blockquote>			
				
				<blockquote class="textItem" style="display: none;">
					<p>El trato es increíble.</p>
					<small>Angelo Gonzales <cite title="Source Title"> - Cliente</cite></small>
				</blockquote>			
				
				<blockquote class="textItem" style="display: none;">
					<p>Cumplío todas mis espectativas</p>
					<small>Agua Bella<cite title="Source Title"> - Agrupación</cite></small>
				</blockquote>
			</div>
		</div>	
	</div>
{% endblock %}