{% extends "base.html" %}
{% block title %}Hostal Rafael - {{ myPlace }} {% endblock %}

{% block places %}
	<div class="row">
		
		<div class="span12">	
			<br /><br />
			<h1>Servicios y facilidades</h1>

			<div class="row">
				
				<div class="span6">
					<h3><span>Cochera</span> 24h</h3>
					<a href=""><img src="{{ STATIC_URL }}css/images/services/cochera.jpg" alt="" /></a>
					<p> Cochera las 24h del día. En nuestros dos locales, Rafael I y II </p>
				</div>		
				
				<div class="span6">
					<h3><span>Internet </span> Wi-fi</h3>
					<a href=""><img src="{{ STATIC_URL }}css/images/services/internet.jpg" alt="" /></a>
					<p> Internet/Wi-fi en todos los ambientes del Hotel Rafael I </p>
				</div>				
				
				<div class="span6">
					<h3><span>Sala</span> Descanzo</h3>
					<a href=""><img src="{{ STATIC_URL }}css/images/services/salaDescanzo.jpg" alt="" /></a>
					<p> Sala de descanzo para que pueda disfrutar de las mejores conversaciones en nuestras
					 	instalaciones. </p>
				</div>		
				
				<div class="span6">
					<h3><span>Habitaciones</span> </h3>
					<a href="{% url 'toShow:rooms' %}"><img src="{{ STATIC_URL }}css/images/services/habitaciones.jpg" alt="" /></a>
					<p> Tenemos diferentes tipos de habitaciones para las diferentes necesidades de ustedes, 
						nuestros usuarios, diversidad para su necesidad. </p>
				</div>												
				
			</div>						
		</div>
	</div>
{% endblock %}

{% block goodReferences %} 
	<div class="row">
		<div class="span12 what_people_say">
			<div id="quotes">
				<blockquote class="textItem" style="display: none;">
					<p>Este es el mejor hotel donde aya estado.</p>
					<small>Hermanos Villacorta<cite title="Source Title"> - Orquesta</cite></small>
				</blockquote>			
				
				<blockquote class="textItem" style="display: none;">
					<p>El trato es increíble.</p>
					<small>Angelo Gonzales <cite title="Source Title"> - Cliente</cite></small>
				</blockquote>			
				
				<blockquote class="textItem" style="display: none;">
					<p>Cumplío todas mis espectativas</p>
					<small>Agua Bella<cite title="Source Title"> - Agrupación</cite></small>
				</blockquote>
			</div>
		</div>	
	</div>
{% endblock %}