{% extends "base.html" %}
{% block title %}Hostal Rafael - {{ myPlace }} {% endblock %}

{% block touristPlaces %}
	<div class="span12">	
		<br /><br />
		<h1>Turismo en la hermosa Camaná</h1><br />
	</div>

	<div class="span9 promotions">	
		
		<div class="row">
			<div class="span3">
				<img alt="" src="{{ STATIC_URL }}css/images/location.jpg" />
			</div>	 
			
			<div class="span6">
				<h3><span>	playas de camaná</span> verano 2014</h3>
				<p>Ven a conocer nuestras hermosas playas este verano, gran amabilidad y conford.</p>
			</div>
		</div>

		<hr />
		<div class="row">
			<div class="span3">
				<img alt="" src="{{ STATIC_URL }}css/images/services.png" />
			</div>	 
			
			<div class="span6">
				<h3><span>FREE</span> Breakfast, <span>FREE</span> Internet, <span>FREE</span> Tour</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae hendrerit odio. Nam sit amet mi pretium nulla cursus euismod. Pellentesque non nisl quis erat blandit egestas.</p>
			</div>
		</div>

		<hr />				
		<div class="row">
			<div class="span3">
				<img alt="" src="{{ STATIC_URL }}css/images/promotions.png" />
			</div>	 
			
			<div class="span6">
				<h3>Stay five nights and get <span>one night FREE!</span></h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae hendrerit odio. Nam sit amet mi pretium nulla cursus euismod. Pellentesque non nisl quis erat blandit egestas.</p>			
			</div>
		</div>

		<hr />
		<div class="row">
			<div class="span3">
				<img alt="" src="{{ STATIC_URL }}css/images/rooms.jpg" />
			</div>	 
			
			<div class="span6">
				<h3><span>Save 20% OFF</span> by booking with us in advance.</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae hendrerit odio. Nam sit amet mi pretium nulla cursus euismod. Pellentesque non nisl quis erat blandit egestas.</p>			
			</div>
		</div>
		<br /><br />
				
	</div>
{% endblock %}